# MCP Engine gitignore settings.
# Don't include the .vs file
.vs/

# Don't include the Build Folder/ This contains the final Binaries, the intermediate folders, libs built from the engine, etc.
Build/

# Don't include any .user files.
**/*.user

# Don't include the dev .sln file specifically.
MCPDev.sln